:root {
  /**
  * Texts / Headings Sizes properties
  * **/
  --texts-xsmall: 0.8rem;
  --texts-small: 1rem;
  --texts-regular: 1.2rem;
  --texts-large: 1.8rem;
  --texts-xlarge: 2.5rem;

  --headings-level1: 3rem;
  --headings-level2: 2.5rem;
  --headings-level3: 2rem;
  --headings-level4: 1.5rem;
  --headings-level5: 1rem;
  --headings-level6: 0.8rem;
  
  /**
  * Spacing properties
  * **/
  --spacing-one: 0.2rem;
  --spacing-two: 0.4rem;
  --spacing-three: 1rem;
  --spacing-four: 1.5rem;
  --spacing-five: 2rem;
  --spacing-six: 2.5rem;
  --spacing-seven: 3rem;
}

/**
  * Dark coloration class
  * **/

@media (prefers-color-scheme: dark) {
  :root {
    --error-token_10: #fd3e55;
    --error-token_50: #fa0220;
    --error-token_100: #d0021b;
    --error-token_150: #8b0112;
    --error-token_200: #74010f;
    --warning-token_10: #fcf5a2;
    --warning-token_50: #faed52;
    --warning-token_100: #f8e71c;
    --warning-token_150: #b2a506;
    --warning-token_200: #958a05;
    --negative-token_10: #ffadad;
    --negative-token_50: #ff5757;
    --negative-token_100: #ff1e1e;
    --negative-token_150: #be0000;
    --negative-token_200: #9e0000;
    --positive-token_10: #77ee68;
    --positive-token_50: #40e72a;
    --positive-token_100: #2ccd17;
    --positive-token_150: #1d890f;
    --positive-token_200: #18720d;
    --fonts-token_10: #ffffff;
    --fonts-token_50: #ffffff;
    --fonts-token_100: #ffffff;
    --fonts-token_150: #c4c4c4;
    --fonts-token_200: #b6b6b6;
    --primary-token_10: #343534;
    --primary-token_50: #1a1a1a;
    --primary-token_100: #000000;
    --primary-token_150: #000000;
    --primary-token_200: #000000;
    --secondary-token_10: #ffffff;
    --secondary-token_50: #ffffff;
    --secondary-token_100: #ffffff;
    --secondary-token_150: #efefef;
    --secondary-token_200: #b6b6b6;
    --tertiary-token_10: #807cff;
    --tertiary-token_50: #706bff;
    --tertiary-token_100: #605bff;
    --tertiary-token_150: #5652e6;
    --tertiary-token_200: #4d49cc;
    --inverse-error-token_10: #fd3e55;
    --inverse-error-token_50: #fa0220;
    --inverse-error-token_100: #d0021b;
    --inverse-error-token_150: #8b0112;
    --inverse-error-token_200: #74010f;
    --inverse-warning-token_10: #fcf5a2;
    --inverse-warning-token_50: #faed52;
    --inverse-warning-token_100: #f8e71c;
    --inverse-warning-token_150: #b2a506;
    --inverse-warning-token_200: #958a05;
    --inverse-negative-token_10: #ffadad;
    --inverse-negative-token_50: #ff5757;
    --inverse-negative-token_100: #ff1e1e;
    --inverse-negative-token_150: #be0000;
    --inverse-negative-token_200: #9e0000;
    --inverse-positive-token_10: #77ee68;
    --inverse-positive-token_50: #40e72a;
    --inverse-positive-token_100: #2ccd17;
    --inverse-positive-token_150: #1d890f;
    --inverse-positive-token_200: #18720d;
    --inverse-fonts-token_10: #000000;
    --inverse-fonts-token_50: #000000;
    --inverse-fonts-token_100: #000000;
    --inverse-fonts-token_150: #000000;
    --inverse-fonts-token_200: #000000;
    --inverse-primary-token_10: #ffffff;
    --inverse-primary-token_50: #f3f2ff;
    --inverse-primary-token_100: #f2f1ff;
    --inverse-primary-token_150: #e8e7fb;
    --inverse-primary-token_200: #ebeaff;
    --inverse-secondary-token_10: #000000;
    --inverse-secondary-token_50: #000000;
    --inverse-secondary-token_100: #000000;
    --inverse-secondary-token_150: #000000;
    --inverse-secondary-token_200: #000000;
    --inverse-tertiary-token_10: #807cff;
    --inverse-tertiary-token_50: #706bff;
    --inverse-tertiary-token_100: #605bff;
    --inverse-tertiary-token_150: #5652e6;
    --inverse-tertiary-token_200: #4d49cc;
  }
}

html.dark, .dark {
  --error-token_10: #fd3e55;
  --error-token_50: #fa0220;
  --error-token_100: #d0021b;
  --error-token_150: #8b0112;
  --error-token_200: #74010f;
  --warning-token_10: #fcf5a2;
  --warning-token_50: #faed52;
  --warning-token_100: #f8e71c;
  --warning-token_150: #b2a506;
  --warning-token_200: #958a05;
  --negative-token_10: #ffadad;
  --negative-token_50: #ff5757;
  --negative-token_100: #ff1e1e;
  --negative-token_150: #be0000;
  --negative-token_200: #9e0000;
  --positive-token_10: #77ee68;
  --positive-token_50: #40e72a;
  --positive-token_100: #2ccd17;
  --positive-token_150: #1d890f;
  --positive-token_200: #18720d;
  --fonts-token_10: #ffffff;
  --fonts-token_50: #ffffff;
  --fonts-token_100: #ffffff;
  --fonts-token_150: #c4c4c4;
  --fonts-token_200: #b6b6b6;
  --primary-token_10: #343534;
  --primary-token_50: #1a1a1a;
  --primary-token_100: #000000;
  --primary-token_150: #000000;
  --primary-token_200: #000000;
  --secondary-token_10: #ffffff;
  --secondary-token_50: #ffffff;
  --secondary-token_100: #ffffff;
  --secondary-token_150: #efefef;
  --secondary-token_200: #b6b6b6;
  --tertiary-token_10: #807cff;
  --tertiary-token_50: #706bff;
  --tertiary-token_100: #605bff;
  --tertiary-token_150: #5652e6;
  --tertiary-token_200: #4d49cc;
  --inverse-error-token_10: #fd3e55;
  --inverse-error-token_50: #fa0220;
  --inverse-error-token_100: #d0021b;
  --inverse-error-token_150: #8b0112;
  --inverse-error-token_200: #74010f;
  --inverse-warning-token_10: #fcf5a2;
  --inverse-warning-token_50: #faed52;
  --inverse-warning-token_100: #f8e71c;
  --inverse-warning-token_150: #b2a506;
  --inverse-warning-token_200: #958a05;
  --inverse-negative-token_10: #ffadad;
  --inverse-negative-token_50: #ff5757;
  --inverse-negative-token_100: #ff1e1e;
  --inverse-negative-token_150: #be0000;
  --inverse-negative-token_200: #9e0000;
  --inverse-positive-token_10: #77ee68;
  --inverse-positive-token_50: #40e72a;
  --inverse-positive-token_100: #2ccd17;
  --inverse-positive-token_150: #1d890f;
  --inverse-positive-token_200: #18720d;
  --inverse-fonts-token_10: #000000;
  --inverse-fonts-token_50: #000000;
  --inverse-fonts-token_100: #000000;
  --inverse-fonts-token_150: #000000;
  --inverse-fonts-token_200: #000000;
  --inverse-primary-token_10: #ffffff;
  --inverse-primary-token_50: #f3f2ff;
  --inverse-primary-token_100: #f2f1ff;
  --inverse-primary-token_150: #e8e7fb;
  --inverse-primary-token_200: #ebeaff;
  --inverse-secondary-token_10: #000000;
  --inverse-secondary-token_50: #000000;
  --inverse-secondary-token_100: #000000;
  --inverse-secondary-token_150: #000000;
  --inverse-secondary-token_200: #000000;
  --inverse-tertiary-token_10: #807cff;
  --inverse-tertiary-token_50: #706bff;
  --inverse-tertiary-token_100: #605bff;
  --inverse-tertiary-token_150: #5652e6;
  --inverse-tertiary-token_200: #4d49cc;
}


  /**
    * Light coloration class
    * **/

@media (prefers-color-scheme: light) {
  :root {
    --error-token_10: #fd3e55;
    --error-token_50: #fa0220;
    --error-token_100: #d0021b;
    --error-token_150: #8b0112;
    --error-token_200: #74010f;
    --warning-token_10: #fcf5a2;
    --warning-token_50: #faed52;
    --warning-token_100: #f8e71c;
    --warning-token_150: #b2a506;
    --warning-token_200: #958a05;
    --negative-token_10: #ffadad;
    --negative-token_50: #ff5757;
    --negative-token_100: #ff1e1e;
    --negative-token_150: #be0000;
    --negative-token_200: #9e0000;
    --positive-token_10: #77ee68;
    --positive-token_50: #40e72a;
    --positive-token_100: #2ccd17;
    --positive-token_150: #1d890f;
    --positive-token_200: #18720d;
    --fonts-token_10: #000000;
    --fonts-token_50: #000000;
    --fonts-token_100: #000000;
    --fonts-token_150: #000000;
    --fonts-token_200: #000000;
    --primary-token_10: #ffffff;
    --primary-token_50: #f3f2ff;
    --primary-token_100: #f2f1ff;
    --primary-token_150: #e8e7fb;
    --primary-token_200: #ebeaff;
    --secondary-token_10: #000000;
    --secondary-token_50: #000000;
    --secondary-token_100: #000000;
    --secondary-token_150: #000000;
    --secondary-token_200: #000000;
    --tertiary-token_10: #807cff;
    --tertiary-token_50: #706bff;
    --tertiary-token_100: #605bff;
    --tertiary-token_150: #5652e6;
    --tertiary-token_200: #4d49cc;
    --inverse-error-token_10: #fd3e55;
    --inverse-error-token_50: #fa0220;
    --inverse-error-token_100: #d0021b;
    --inverse-error-token_150: #8b0112;
    --inverse-error-token_200: #74010f;
    --inverse-warning-token_10: #fcf5a2;
    --inverse-warning-token_50: #faed52;
    --inverse-warning-token_100: #f8e71c;
    --inverse-warning-token_150: #b2a506;
    --inverse-warning-token_200: #958a05;
    --inverse-negative-token_10: #ffadad;
    --inverse-negative-token_50: #ff5757;
    --inverse-negative-token_100: #ff1e1e;
    --inverse-negative-token_150: #be0000;
    --inverse-negative-token_200: #9e0000;
    --inverse-positive-token_10: #77ee68;
    --inverse-positive-token_50: #40e72a;
    --inverse-positive-token_100: #2ccd17;
    --inverse-positive-token_150: #1d890f;
    --inverse-positive-token_200: #18720d;
    --inverse-fonts-token_10: #ffffff;
    --inverse-fonts-token_50: #ffffff;
    --inverse-fonts-token_100: #ffffff;
    --inverse-fonts-token_150: #c4c4c4;
    --inverse-fonts-token_200: #b6b6b6;
    --inverse-primary-token_10: #343534;
    --inverse-primary-token_50: #1a1a1a;
    --inverse-primary-token_100: #000000;
    --inverse-primary-token_150: #000000;
    --inverse-primary-token_200: #000000;
    --inverse-secondary-token_10: #ffffff;
    --inverse-secondary-token_50: #ffffff;
    --inverse-secondary-token_100: #ffffff;
    --inverse-secondary-token_150: #efefef;
    --inverse-secondary-token_200: #b6b6b6;
    --inverse-tertiary-token_10: #807cff;
    --inverse-tertiary-token_50: #706bff;
    --inverse-tertiary-token_100: #605bff;
    --inverse-tertiary-token_150: #5652e6;
    --inverse-tertiary-token_200: #4d49cc;
  }
}

html.light, .light {
  --error-token_10: #fd3e55;
  --error-token_50: #fa0220;
  --error-token_100: #d0021b;
  --error-token_150: #8b0112;
  --error-token_200: #74010f;
  --warning-token_10: #fcf5a2;
  --warning-token_50: #faed52;
  --warning-token_100: #f8e71c;
  --warning-token_150: #b2a506;
  --warning-token_200: #958a05;
  --negative-token_10: #ffadad;
  --negative-token_50: #ff5757;
  --negative-token_100: #ff1e1e;
  --negative-token_150: #be0000;
  --negative-token_200: #9e0000;
  --positive-token_10: #77ee68;
  --positive-token_50: #40e72a;
  --positive-token_100: #2ccd17;
  --positive-token_150: #1d890f;
  --positive-token_200: #18720d;
  --fonts-token_10: #000000;
  --fonts-token_50: #000000;
  --fonts-token_100: #000000;
  --fonts-token_150: #000000;
  --fonts-token_200: #000000;
  --primary-token_10: #ffffff;
  --primary-token_50: #f3f2ff;
  --primary-token_100: #f2f1ff;
  --primary-token_150: #e8e7fb;
  --primary-token_200: #ebeaff;
  --secondary-token_10: #000000;
  --secondary-token_50: #000000;
  --secondary-token_100: #000000;
  --secondary-token_150: #000000;
  --secondary-token_200: #000000;
  --tertiary-token_10: #807cff;
  --tertiary-token_50: #706bff;
  --tertiary-token_100: #605bff;
  --tertiary-token_150: #5652e6;
  --tertiary-token_200: #4d49cc;
  --inverse-error-token_10: #fd3e55;
  --inverse-error-token_50: #fa0220;
  --inverse-error-token_100: #d0021b;
  --inverse-error-token_150: #8b0112;
  --inverse-error-token_200: #74010f;
  --inverse-warning-token_10: #fcf5a2;
  --inverse-warning-token_50: #faed52;
  --inverse-warning-token_100: #f8e71c;
  --inverse-warning-token_150: #b2a506;
  --inverse-warning-token_200: #958a05;
  --inverse-negative-token_10: #ffadad;
  --inverse-negative-token_50: #ff5757;
  --inverse-negative-token_100: #ff1e1e;
  --inverse-negative-token_150: #be0000;
  --inverse-negative-token_200: #9e0000;
  --inverse-positive-token_10: #77ee68;
  --inverse-positive-token_50: #40e72a;
  --inverse-positive-token_100: #2ccd17;
  --inverse-positive-token_150: #1d890f;
  --inverse-positive-token_200: #18720d;
  --inverse-fonts-token_10: #ffffff;
  --inverse-fonts-token_50: #ffffff;
  --inverse-fonts-token_100: #ffffff;
  --inverse-fonts-token_150: #c4c4c4;
  --inverse-fonts-token_200: #b6b6b6;
  --inverse-primary-token_10: #343534;
  --inverse-primary-token_50: #1a1a1a;
  --inverse-primary-token_100: #000000;
  --inverse-primary-token_150: #000000;
  --inverse-primary-token_200: #000000;
  --inverse-secondary-token_10: #ffffff;
  --inverse-secondary-token_50: #ffffff;
  --inverse-secondary-token_100: #ffffff;
  --inverse-secondary-token_150: #efefef;
  --inverse-secondary-token_200: #b6b6b6;
  --inverse-tertiary-token_10: #807cff;
  --inverse-tertiary-token_50: #706bff;
  --inverse-tertiary-token_100: #605bff;
  --inverse-tertiary-token_150: #5652e6;
  --inverse-tertiary-token_200: #4d49cc;
}
